<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <Property name="fileName">quartz-log.log</Property>
        <Property name="backupFilePatch">E:/logs/log4j2/</Property>
      </Properties>
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
             <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <!-- 输出日志的格式-->
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss} %-5level %class{36} %L %M - %msg%xEx%n" />
        </Console>

        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份日建立的文件夹分文件存-->
        <RollingFile name="RollingFile" fileName="${backupFilePatch}${fileName}"
            filePattern="${backupFilePatch}$${date:yyyy-MM-dd}/${fileName}-%d{yyyyMMddHHmmss}.log">
            <PatternLayout
                pattern="%d{yyyy.MM.dd HH:mm:ss} %-5level %class{36} %L %M - %msg%xEx%n" />
            <!-- 日志文件大小 -->
            <SizeBasedTriggeringPolicy size="100M" />
            <!-- 最多保留文件数 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
         <asyncRoot  level="info" includeLocation="true">  
            <AppenderRef ref="RollingFile" />
	        <AppenderRef ref="Console" />  
	     </asyncRoot>
    </loggers>
</configuration>